<!DOCTYPE html>
<html>
<head>
<title>Insurance Fraud Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Insurance Fraud Detection</h2>

<form action="/predict" method="post">

<input type="number" name="claim_amount" placeholder="Claim Amount" required>

<input type="number" name="claim_frequency" placeholder="Claim Frequency" required>

<input type="number" name="customer_age" placeholder="Customer Age" required>

<button type="submit">Check Claim</button>

</form>

</div>

</body>
</html>
